<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
</head>
<body>

    <div class="bg-dark text-white p-2">
        Books
    </div>

    <div>
        @RenderBody()
    </div>
</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>
